repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: '.bumpversion.cfg'
      - id: debug-statements

  - repo: https://github.com/humitos/mirrors-autoflake.git
    rev: v1.3
    hooks:
      - id: autoflake
        args: ['--in-place', '--remove-all-unused-imports', '--remove-unused-variable', '--ignore-init-module-imports', '--exclude', '*/models.py,*/resources.py,*/__init__.py']

  - repo: https://github.com/asottile/pyupgrade
    rev: v1.22.1
    hooks:
      - id: pyupgrade
        args: ['--py3-plus']

  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.2
    hooks:
      - id: seed-isort-config

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.21
    hooks:
      - id: isort
        language_version: python3.7
        files: \.py$
        exclude: 'migrations'

  - repo: https://github.com/ambv/black
    rev: 19.3b0
    hooks:
      - id: black
        language_version: python3.7
        # override until resolved: https://github.com/ambv/black/issues/402
        files: \.pyi?$
        types: []

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        additional_dependencies: [
        'flake8-blind-except',
        'flake8-bandit',
        'flake8-comprehensions',
        'flake8-mutable',
        'flake8-bugbear',
        ]
