[tool.poetry]
name = "sitri"
version = "0.5.6"
description = "Library for one endpoint config and credentials managment"
authors = ["Alexander Lavrov <egnod@ya.ru>"]
license = "MIT"

keywords = ["packaging", "poetry"]

repository = "https://github.com/Egnod/sitri"
documentation = "https://sitri.readthedocs.io"

readme = "README.md"

[tool.poetry.dependencies]
python = "^3.5"


[tool.poetry.dev-dependencies]
pytest = "^5.2"
python-consul = "^1.1"
redis = "^3.3"
vedis = "^0.7.1"
pytest-mock = "^1.11"
mypy = "^0.730.0"
bumpversion = "^0.5.3"
pre-commit = "^1.18"
coverage = "^4.5"
pytest-cov = "^2.7"
vulture = "^1.1"
radon = "^4.0"
tidypy = "^0.11.0"
simplejson = "^3.16"
pytest-lazy-fixture = "^0.5.2"

[tool.black]
line-length = 120
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
    | migrations
  )
)
'''

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
